@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-color:#e07a5f;
  --heading-color:#f4f1de;
}

body{
  font-family: 'Poppins', sans-serif;
}
section{
  padding: 50px 0px;
}
link{
  text-decoration-color: none;
  color:unset;
}

link:hover{
  color:unset;
}
ul{
  list-style: none;
}


.section_title{
  color:var(--heading-color);
  font-weight: 700px;
}